@use "../../styles/colors.module.scss" as colors;

.input {
	display: flex;
	width: 100%;
	padding: 1rem;

	box-sizing: border-box;

	form {
		display: flex;
		flex: 1 1 auto;

		gap: 1rem;
	}

	input {
		flex: 1 1 auto;
		padding: 0.5rem;

		width: 100%;

		font-size: 1.5rem;
		font-family: "Blocky", sans-serif;
		font-weight: 100;

		border: 2px solid colors.$color-accent-primary;
		border-radius: 0.5rem;

		background-color: transparent;

		color: colors.$text-main;
	}

	button {
		font-family: "Blocky", sans-serif;
		font-size: 1.5rem;
		color: colors.$text-dark;
		
		border: none;
		border-radius: 0.5rem;
		padding: 1rem;		

		background: linear-gradient(145deg, colors.$gradient-accent-colors);
		background-size: 100% 125%;

		cursor: pointer;

		transition: background-position-y 0.3s;

		&:hover,
		&:focus,
		&:focus-visible {
			background-position-y: 100%;	
		}
	}
}