$background-dark: #191928;
$background-light: #f5f5f5;

$color-accent-primary: #ff40af;
$color-accent-secondary: #ffffb2;

$text-main: #ddd;
$text-mid: #aaa;
$text-mid-dark: #667;
$text-dark: #222;

$gradient-accent-colors: $color-accent-secondary 20%, #ffb855 45%, $color-accent-primary 85%;

$critical-green: #7eed7e;
$fail-red: #ea6363;